{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name and City</h2>  
    

    <form method="POST" action="update">
       <input type="hidden" name="uid" value="{{ .Id }}" />
  <div class="form-group">
    <label for="exampleInputEmail1">Country</label>
    <input type="text" class="form-control" name="name" value="{{ .Name }}"  placeholder="Enter Country">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">City</label>
    <input type="text" class="form-control" name="city" value="{{ .City }}" placeholder="City">
  </div>
  
  <button type="submit" class="btn btn-primary">Save user</button>
</form>   
  {{ template "Footer" }}
{{ end }}